.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__current-group
      .chat-main__main-header__left-box__member
  .chat-main__messages
  .chat-main__form


