.chat-main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  &__main-header{
    height: 100px;
    padding: 0 40px;
    display:flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  }
  &__messages{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    box-sizing: border-box;
  }
  &__form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
  }
}
